<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'about.title' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']"><ion-icon name="home"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{ 'about.whatIs' | translate }} {{ 'app.title' | translate}}?
      </ion-card-title>
    </ion-card-header>
    <ion-card-content class="about-content">
      {{ 'about.description' | translate }}
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content class="specifics-content">
      <p class="specifics-paragraph">{{ 'about.lookingForResources' | translate }}
        <a [routerLink]="['/resources']" class="nice-link click-here">{{ 'about.checkOutPage' | translate }} <ion-icon name="arrow-forward"></ion-icon></a></p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p>&copy;&nbsp;2018&nbsp;• Our Team</p>
  </ion-toolbar>
</ion-footer>