<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'login.title' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerDirection]="'root'" [routerLink]="['/home']"><ion-icon name="home"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-img class="hand-img" src="{{ loading ? '/assets/images/hand-fade.gif?' : '/assets/images/hand.png?'}}"></ion-img>
  </ion-row>

  <form (submit)="login()" #loginForm="ngForm" class="login-form">
    <ion-row>
      <ion-col>
        <ion-item class="login-input">
          <ion-label position="floating">{{'login.placeholder.email' | translate}}</ion-label>
          <ion-input type="text" name="email" [(ngModel)]="currentLoginCredentials.email" required clearInput></ion-input>
        </ion-item>
        <ion-item class="login-input">
          <ion-label position="floating">{{'login.placeholder.password' | translate}}</ion-label>
          <ion-input type="password" name="password" [(ngModel)]="currentLoginCredentials.password" required clearInput></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="submit-row">
      <ion-col>
        <ion-button color="secondary" class="submit-btn" type="submit" [disabled]="!loginForm.form.valid || loading">{{'login.button' | translate}}</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
