

ion-button {
  --width: 100%;
  --border-radius: 2px;
  min-width: 100% !important;
  width: 100% !important;
}

.login-input {
  margin-left: 5px;
  margin-right: 5px;
}

.submit-row {
  margin-top: 2em;
}

.hand-img {
  max-width: 100px;
  margin: 2em auto;
}