<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Connect</ion-title>
        <ion-buttons slot="end">
            <ion-button [routerDirection]="'root'" [routerLink]="['/home']">
                <ion-icon name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ng-container *ngIf="!isHelper">
        <ion-label>I want help with...</ion-label>
        <ion-select [(ngModel)]="skill">
            <ion-select-option value="language">Language</ion-select-option>
            <ion-select-option value="culture">Culture</ion-select-option>
            <ion-select-option value="employment">Employment</ion-select-option>
        </ion-select>
        <ion-footer position="bottom">
            <ion-button (click)="seekHelp();">Seek Help</ion-button>
        </ion-footer>
    </ng-container>
    <ng-container *ngIf="isHelper">
        <ion-label>I can help with...</ion-label>
        <ion-item>
            <ion-label>Language</ion-label>
            <ion-checkbox #language color="primary" checked></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Culture</ion-label>
            <ion-checkbox #culture color="primary"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Employment</ion-label>
            <ion-checkbox #employment color="primary"></ion-checkbox>
        </ion-item>
        <br/>
        <br/>
        <ion-footer position="bottom">
            <ion-button (click)="offerHelp();">Offer Help</ion-button>
        </ion-footer>
    </ng-container>
</ion-content>
