<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ 'connect.title' | translate }}</ion-title>
        <ion-buttons slot="end">
            <ion-button [routerDirection]="'root'" [routerLink]="['/home']">
                <ion-icon name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ng-container *ngIf="!isHelper">
        <ion-label>{{ 'connect.wantHelpWith' | translate }}</ion-label>
        <ion-select [(ngModel)]="skill">
            <ion-select-option value="language">{{ 'connect.language' | translate }}</ion-select-option>
            <ion-select-option value="culture">{{ 'connect.culture' | translate }}</ion-select-option>
            <ion-select-option value="employment">{{ 'connect.employment' | translate }}</ion-select-option>
        </ion-select>
        <ion-footer position="bottom">
            <ion-button (click)="seekHelp();">{{ 'connect.seekHelp' | translate }}</ion-button>
        </ion-footer>
    </ng-container>
    <ng-container *ngIf="isHelper">
        <ion-label>{{ 'connect.wantToHelpWith' | translate }}</ion-label>
        <ion-item>
            <ion-label>{{ 'connect.language' | translate }}</ion-label>
            <ion-checkbox #language color="primary" checked></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>{{ 'connect.culture' | translate }}</ion-label>
            <ion-checkbox #culture color="primary"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>{{ 'connect.employment' | translate }}</ion-label>
            <ion-checkbox #employment color="primary"></ion-checkbox>
        </ion-item>
        <br/>
        <br/>
        <ion-footer position="bottom">
            <ion-button (click)="offerHelp();">{{ 'connect.offerHelp' | translate }}</ion-button>
        </ion-footer>
    </ng-container>
</ion-content>
