<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ "vision.title" | translate }}</ion-title>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['/home']">
                <ion-icon name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <!--<p>Vision</p>-->
    <!--<ion-button (click)="openCamera();">Take a picture</ion-button>-->

    <ion-content>
        <ion-grid>
            <ion-row>
                <ion-radio-group>
                    <ion-list-header>
                        <ion-label>{{ 'vision.type' | translate }}</ion-label>
                    </ion-list-header>
                    <ion-item class="register-input item-borderless" no-padding>
                        <ion-label>{{ 'vision.translate' | translate }}</ion-label>
                        <ion-radio #translateRadio slot="start" value="seeker" checked></ion-radio>
                    </ion-item>
                    <ion-item class="register-input item-borderless" no-padding>
                        <ion-label>{{ 'vision.object' | translate }}</ion-label>
                        <ion-radio #objectRadio slot="start" value="helper"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-row>
            <ion-row class="picture" center>
                <ion-col center>
                    <div id="pic-parent">
                        <ion-icon *ngIf="base64Image" class="closeBtn icon ion-close" (tap)="closePreview()"></ion-icon>
                        <img *ngIf="base64Image" id="picture" [src]="_DomSanitizationService.bypassSecurityTrustUrl(base64Image)"/>
                        <ion-icon *ngIf="!base64Image" class="large icon ion-help"></ion-icon>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row class="buttons">
                <ion-col center>
                    <ion-button ion-button round color="secondary" (click)="takePicture()">{{'vision.takePicture' | translate}}</ion-button>
                </ion-col>
                <ion-col center>
                    <ion-button ion-button round id="sendPic" color="secondary" (click)="sendPicture()"
                            [disabled]="!base64Image">
                        {{'vision.submitPicture' | translate}}
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div>{{text}}</div>
        <br>
        <br>
        <br>
        <br>
        {{test | json}}
    </ion-content>
</ion-content>
