<ion-app>
  <ion-split-pane>
    <ion-menu #ionMenu>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ 'menu.title' | translate }}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ng-container *ngFor="let p of appPages">
            <ion-menu-toggle auto-hide="false" *ngIf="shouldShowLink(p)">
              <ion-item class="menu-item" [routerDirection]="'root'" [routerLink]="[p.url]">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>
                  {{p.title | translate}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ng-container>
        </ion-list>
      </ion-content>

      <div class="menu-footer">
        <ion-footer *ngIf="isLoggedIn" class="logout">
          <ion-toolbar>
            <div [routerDirection]="'root'" [routerLink]="['/logout']" (click)="ionMenu.close()" detail-none>
              <span class="logout">{{ 'logout.spaceTitle' | translate }}</span>&nbsp;<ion-icon class="logout" name="log-out"></ion-icon>
            </div>
          </ion-toolbar>
        </ion-footer>
        <ion-footer *ngIf="!isLoggedIn" class="login">
          <ion-toolbar>
            <div [routerDirection]="'root'" [routerLink]="['/login']" (click)="ionMenu.close()" detail-none>
              <span class="login">{{ 'login.spaceTitle' | translate }}</span>&nbsp;<ion-icon class="login" name="log-in"></ion-icon>
            </div>
          </ion-toolbar>
        </ion-footer>
      </div>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
