<ion-content padding>
    <ion-card-header class="welcome-header">
        <ion-img class="main-image" src="/assets/images/helping-hand.png"></ion-img>
        <ion-card-subtitle>{{ welcome }}</ion-card-subtitle>
        <ion-card-title>{{ choice }}</ion-card-title>
    </ion-card-header>

    <ion-card>
        <ion-select [(ngModel)]="language" (ionChange)="changeLanguage()">
            <ion-select-option value="bg" [selected]="'bg' === (langObs | async)">български</ion-select-option>
            <ion-select-option value="en" [selected]="'en' === (langObs | async)">English</ion-select-option>
            <ion-select-option value="es" [selected]="'es' === (langObs | async)">Español</ion-select-option>
            <ion-select-option value="ar" [selected]="'ar' === (langObs | async)">عربى</ion-select-option>
        </ion-select>
    </ion-card>
    <ion-row>
        <ion-button class="selection-btn" color="secondary" (click)="submit()">{{'setup.next' | translate}}</ion-button>
    </ion-row>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <p>&copy;&nbsp;2018&nbsp;• Our Team</p>
    </ion-toolbar>
</ion-footer>
