<ion-content padding>

    <ion-card-header class="welcome-header">
        <ion-img class="main-image" src="/assets/images/helping-hand.png"></ion-img>
        <ion-card-subtitle>{{ 'setup.welcome' | translate }}</ion-card-subtitle>
        <ion-card-title>{{ 'setup.choice' | translate }}</ion-card-title>
    </ion-card-header>

    <ion-card>
        <ion-select [(ngModel)]="language" (ionChange)="changeLanguage()">
            <ion-select-option value="en" [selected]="checkCurrentLang('en')">English</ion-select-option>
            <ion-select-option value="es" [selected]="checkCurrentLang('es')">Español</ion-select-option>
            <ion-select-option value="ar" [selected]="checkCurrentLang('ar')">عربى</ion-select-option>
        </ion-select>
    </ion-card>

    <ion-button class="selection-btn" color="secondary" (click)="submit()">{{'setup.next' | translate}}</ion-button>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <p>&copy;&nbsp;2018&nbsp;• Our Team</p>
    </ion-toolbar>
</ion-footer>
