ion-button {
  --width: 100%;
  --border-radius: 2px;
  min-width: 100% !important;
  width: 100% !important;
}

.result-img {
  margin: 2em auto;
}

.message {
  font-size: 20px;
  color: var(--ion-color-primary);
  text-align: center;
}