<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'app.title' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerDirection]="'root'" [ngClass]="isLoggedIn ? 'logout' : 'login'" [routerLink]="isLoggedIn ? ['/logout'] : ['/login']"><ion-icon [name]="isLoggedIn ? 'log-out' : 'log-in'"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-header class="welcome-header">
    <ion-img class="main-image" src="/assets/images/helping-hand.png"></ion-img>
    <ion-card-subtitle>{{ 'app.title' | translate }}</ion-card-subtitle>
    <ion-card-title>{{ 'home.secondaryTitle' | translate }}</ion-card-title>
  </ion-card-header>
  <ion-card-content class="welcome-content">
    <p class="welcome-paragraph">{{ 'home.welcome' | translate }}
      <a [routerLink]="['/about']" class="nice-link find-out-more">{{ 'home.findOut' | translate }} <ion-icon name="arrow-forward"></ion-icon></a></p>
  </ion-card-content>
  <ion-card [routerLink]="['/resources']" class="card-button">
    <ion-card-content class="home-card-content">
      <ion-row align-items-center class="nice-link"><ion-col size="10">{{ 'home.resources' | translate }}</ion-col><ion-col size="2" class="text-right"><ion-icon name="link" float-right></ion-icon></ion-col></ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card [routerLink]="['/register']" class="card-button">
    <ion-card-content class="home-card-content">
      <ion-row align-items-center class="nice-link"><ion-col size="10">{{ 'home.register' | translate}}</ion-col><ion-col size="2" class="text-right"><ion-icon name="create" float-right></ion-icon></ion-col></ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <p>&copy;&nbsp;2018&nbsp;• Our Team</p>
  </ion-toolbar>
</ion-footer>
