<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ 'register.title' | translate }}</ion-title>
        <ion-buttons slot="end">
            <ion-button [routerDirection]="'root'" [routerLink]="['/home']">
                <ion-icon name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form (submit)="register();" #registerForm="ngForm">
        <ion-row>
            <ion-col>
                <ion-list inset>
                    <ion-list-header>
                        <ion-label>User Info</ion-label>
                    </ion-list-header>
                    <ion-item>
                        <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="email" required clearInput></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="password" required clearInput></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input type="password" placeholder="Confirm Password" name="confirm-password" [(ngModel)]="confirmPassword" required clearInput></ion-input>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-list inset>
                    <ion-radio-group>
                        <ion-list-header>
                            <ion-label>Type of User</ion-label>
                        </ion-list-header>
                        <ion-item>
                            <ion-label>Help Seeker</ion-label>
                            <ion-radio #seekerRadio slot="start" value="seeker" checked></ion-radio>
                        </ion-item>
                        <ion-item>
                            <ion-label>Helper</ion-label>
                            <ion-radio #helperRadio slot="start" value="helper"></ion-radio>
                        </ion-item>
                    </ion-radio-group>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid || !validRegistration">Register</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
