<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ 'settings.title' | translate }}</ion-title>
        <ion-buttons slot="end">
            <ion-button [routerDirection]="'root'" [routerLink]="['/home']">
                <ion-icon name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-label>{{ "settings.language" | translate }}</ion-label>
    <ion-card>
        <ion-select [(ngModel)]="language" (ionChange)="changeLanguage()">
            <ion-select-option value="ar" [selected]="'ar' === (langObs | async)">عربى</ion-select-option>
            <ion-select-option value="bg" [selected]="'bg' === (langObs | async)">български</ion-select-option>
            <ion-select-option value="en" [selected]="'en' === (langObs | async)">English</ion-select-option>
            <ion-select-option value="es" [selected]="'es' === (langObs | async)">Español</ion-select-option>
            <ion-select-option value="ga" [selected]="'ga' === (langObs | async)">Gaeilge</ion-select-option>
        </ion-select>
    </ion-card>
    <br/>
    <br/>
    <ion-button (click)="applySettings();">{{ "settings.apply" | translate }}</ion-button>
</ion-content>
