<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ 'settings.title' | translate }}</ion-title>
        <ion-buttons slot="end">
            <ion-button [routerDirection]="'root'" [routerLink]="['/home']">
                <ion-icon name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-label>{{ "settings.language" | translate }}</ion-label>
    <ion-card>
        <ion-select [(ngModel)]="language" (ionChange)="changeLanguage()">
            <ion-select-option value="en" [selected]="checkCurrentLang('en')">English</ion-select-option>
            <ion-select-option value="es" [selected]="checkCurrentLang('es')">Español</ion-select-option>
            <ion-select-option value="ar" [selected]="checkCurrentLang('ar')">عربى</ion-select-option>
        </ion-select>
    </ion-card>

    <ion-item class="register-input" no-padding>
        <ion-label position="floating">{{ "settings.firstName" | translate }}</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item class="register-input" no-padding>
        <ion-label position="floating">{{ "settings.lastName" | translate }}</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item class="register-input" no-padding>
        <ion-label position="floating">{{ "settings.preferredName" | translate }}</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>

    <br/>
    <br/>
    <ion-button (click)="applySettings();">{{ "settings.apply" | translate }}</ion-button>
</ion-content>
